In [1]:
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [2]:
import os
os.environ["SPARK_HOME"] = "/home/hadoop/spark-3.5.1-bin-hadoop3"

In [3]:
import findspark
findspark.init()

In [4]:
import pyspark
sc = pyspark.SparkContext(appName="Example")

24/03/20 13:43:06 WARN Utils: Your hostname, DESKTOP-79D6ANB resolves to a loopback address: 127.0.1.1; using 172.21.51.108 instead (on interface eth0)
24/03/20 13:43:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/20 13:43:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
lst = [1, 2, 3, 4]
rdd = sc.parallelize(lst)
rdd.collect()

[1, 2, 3, 4]

In [7]:
words = [['cat', 'cat'], ['ele'], ['cat', 'ele']]

In [10]:
rdd = sc.parallelize(words)
output = rdd.map(lambda line: [x for x in line]).collect()
print(output)

[['cat', 'cat'], ['ele'], ['cat', 'ele']]

In [6]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [7]:
file_name = "wb.json"

In [9]:
df = sqlContext.read.json(file_name)

In [11]:
df.show()

24/03/20 13:51:45 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+------------------+--------------------+------------------------+--------+-----------+-------+----------+--------------------+--------------------+----------------+---------------+--------------------+--------------------+--------------------+--------------------+-----------+--------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+------+------+--------------------+--------------------+--------------------+--------------+---------+------------+--------------------+
|                 _id|approvalfy|board_approval_month|   boardapprovaldate|            borrower|         closingdate|    country_namecode|countrycode|         countryname|  countryshortname|               docty|envassesmentcategorycode|grantamt|ibrdcommamt|     id|idacommamt|           impagency|        lendinginstr|lendinginstrtype|lendprojectcost| majorsector_percent|   mjsector_namecode|             mjtheme|    mjtheme_namecode|mjthemecode|prodline|        prodlinetext|productlinetype|    project_abstract|        project_name|         projectdocs|projectfinancialtype|projectstatusdisplay|          regionname|              sector|             sector1|             sector2|             sector3|             sector4|     sector_namecode|    sectorcode|source|status|supplementprojectflg|              theme1|      theme_namecode|     themecode| totalamt|totalcommamt|                 url|
+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-----------+--------------------+------------------+--------------------+------------------------+--------+-----------+-------+----------+--------------------+--------------------+----------------+---------------+--------------------+--------------------+--------------------+--------------------+-----------+--------+--------------------+---------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------+------+------+--------------------+--------------------+--------------------+--------------+---------+------------+--------------------+
|{52b213b38594d8a2...|      1999|            November|2013-11-12T00:00:00Z|FEDERAL DEMOCRATI...|2018-07-07T00:00:00Z|Federal Democrati...|         ET|Federal Democrati...|          Ethiopia|Project Informati...|                       C|       0|          0|P129828| 130000000|MINISTRY OF EDUCA...|Investment Projec...|              IN|      550000000|[{Education, 46},...|[{EX, Education},...| [Human development]|[{8, Human develo...|       8,11|      PE|            IBRD/IDA|              L|{The development ...|Ethiopia General ...|[{28-AUG-2013, PI...|                 IDA|              Active|              Africa|[{Primary educati...|{Primary educatio...|{Secondary educat...|{Public administr...|{Tertiary educati...|[{EP, Primary edu...|   ET,BS,ES,EP|  IBRD|Active|                   N|{Education for al...|[{65, Education f...|            65|130000000|   130000000|http://www.worldb...|
|{52b213b38594d8a2...|      2015|            November|2013-11-04T00:00:00Z|GOVERNMENT OF TUN...|                NULL|Republic of Tunis...|         TN| Republic of Tunisia|           Tunisia|Project Informati...|                       C| 4700000|          0|P144674|         0| MINISTRY OF FINANCE|Specific Investme...|              IN|        5700000|[{Public Administ...|[{BX, Public Admi...|[Economic managem...|[{1, Economic man...|        1,6|      RE|Recipient Execute...|              L|                NULL|TN: DTF Social Pr...|[{29-MAR-2013, PI...|               OTHER|              Active|Middle East and N...|[{Public administ...|{Public administr...|{General public a...|                NULL|                NULL|[{BS, Public admi...|         BZ,BS|  IBRD|Active|                   N|{Other economic m...|[{24, Other econo...|         54,24|        0|     4700000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|            November|2013-11-01T00:00:00Z|MINISTRY OF FINAN...|                NULL|         Tuvalu!$!TV|         TV|              Tuvalu|            Tuvalu|Resettlement Plan...|                       B|       0|          0|P145310|   6060000|MINISTRY OF TRANS...|Investment Projec...|              IN|        6060000|[{Transportation,...|[{TX, Transportat...|[Trade and integr...|[{5, Trade and in...|   5,2,11,6|      PE|            IBRD/IDA|              L|                NULL|Tuvalu Aviation I...|[{21-OCT-2013, RP...|                 IDA|              Active|East Asia and Pac...|[{Rural and Inter...|{Rural and Inter-...|                NULL|                NULL|                NULL|[{TI, Rural and I...|            TI|  IBRD|Active|                   Y|{Regional integra...|[{47, Regional in...|   52,81,25,47|  6060000|     6060000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-31T00:00:00Z|MIN. OF PLANNING ...|                NULL|Republic of Yemen...|         RY|   Republic of Yemen|Yemen, Republic of|Procurement Plan,...|                       C| 1500000|          0|P144665|         0|LABOR INTENSIVE P...|Technical Assista...|              IN|        1500000|[{Health and othe...|[{JX, Health and ...|[Social dev/gende...|[{7, Social dev/g...|        7,7|      RE|Recipient Execute...|              L|                NULL|Gov't and Civil S...|[{15-MAY-2013, PR...|               OTHER|              Active|Middle East and N...|[{Other social se...|{Other social ser...|                NULL|                NULL|                NULL|[{JB, Other socia...|            JB|  IBRD|Active|                   N|{Participation an...|[{57, Participati...|         59,57|        0|     1500000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-31T00:00:00Z| MINISTRY OF FINANCE|2019-04-30T00:00:00Z|Kingdom of Lesoth...|         LS|  Kingdom of Lesotho|           Lesotho|Project Informati...|                       B|       0|          0|P144933|  13100000|MINISTRY OF TRADE...|Investment Projec...|              IN|       15000000|[{Industry and tr...|[{YX, Industry an...|[Trade and integr...|[{5, Trade and in...|        5,4|      PE|            IBRD/IDA|              L|{The development ...|Second Private Se...|[{06-SEP-2013, PI...|                 IDA|              Active|              Africa|[{General industr...|{General industry...|{Other industry, 40}|   {SME Finance, 10}|                NULL|[{YZ, General ind...|      FH,YW,YZ|  IBRD|Active|                   N|{Export developme...|[{45, Export deve...|         41,45| 13100000|    13100000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-31T00:00:00Z|   REPUBLIC OF KENYA|                NULL|Republic of Kenya...|         KE|   Republic of Kenya|             Kenya|Integrated Safegu...|                       C|       0|          0|P146161|  10000000|                NULL|Investment Projec...|              IN|       66400000|[{Health and othe...|[{JX, Health and ...|[Social protectio...|[{6, Social prote...|        6,6|      PE|            IBRD/IDA|              L|                NULL|Additional Financ...|[{16-SEP-2013, IS...|                 IDA|              Active|              Africa|[{Other social se...|{Other social ser...|                NULL|                NULL|                NULL|[{JB, Other socia...|            JB|  IBRD|Active|                   Y|{Social safety ne...|[{54, Social safe...|            54| 10000000|    10000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-29T00:00:00Z| GOVERNMENT OF INDIA|2019-06-30T00:00:00Z|Republic of India...|         IN|   Republic of India|             India|Project Appraisal...|                       A|       0|  500000000|P121185|         0|MINISTRY OF ROAD ...|Specific Investme...|              IN|     1146050000|[{Transportation,...|[{TX, Transportat...|[Public sector go...|[{2, Public secto...|        2,4|      PE|            IBRD/IDA|              L|{The development ...|National Highways...|[{02-OCT-2013, PA...|                IBRD|              Active|          South Asia|[{Rural and Inter...|{Rural and Inter-...|                NULL|                NULL|                NULL|[{TI, Rural and I...|            TI|  IBRD|Active|                   N|{Administrative a...|[{25, Administrat...|         39,25|500000000|   500000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-29T00:00:00Z|PEOPLE'S REPUBLIC...|                NULL|People's Republic...|         CN|People's Republic...|             China|Project Appraisal...|                       C|27280000|          0|P127033|         0|NATIONAL ENERGY A...|Investment Projec...|              IN|       27280000|[{Energy and mini...|[{LX, Energy and ...|[Environment and ...|[{11, Environment...|       11,8|      GE|Global Environmen...|              L|{The development ...|China Renewable E...|[{18-SEP-2013, PA...|               OTHER|              Active|East Asia and Pac...|[{Other Renewable...|{Other Renewable ...|                NULL|                NULL|                NULL|[{LR, Other Renew...|            LR|  IBRD|Active|                   N|{Climate change, ...|[{81, Climate cha...|            81|        0|    27280000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-29T00:00:00Z|THE GOVERNMENT OF...|2018-12-31T00:00:00Z|Republic of India...|         IN|   Republic of India|             India|Project Appraisal...|                       B|       0|          0|P130164| 160000000|PUBLIC WORKS DEPA...|Specific Investme...|              IN|      227000000|[{Transportation,...|[{TX, Transportat...| [Rural development]|[{10, Rural devel...|       10,7|      PE|            IBRD/IDA|              L|{The development ...|Rajasthan Road Se...|[{01-OCT-2013, PA...|                 IDA|              Active|          South Asia|[{Rural and Inter...|{Rural and Inter-...|                NULL|                NULL|                NULL|[{TI, Rural and I...|            TI|  IBRD|Active|                   N|{Other rural deve...|[{79, Other rural...|            79|160000000|   160000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-29T00:00:00Z|THE KINGDOM OF MO...|2014-12-31T00:00:00Z|Kingdom of Morocc...|         MA|  Kingdom of Morocco|           Morocco|Program Document,...|                    NULL|       0|  200000000|P130903|         0| MINISTRY OF FINANCE|Development Polic...|              AD|      200000000|[{Public Administ...|[{BX, Public Admi...|[Public sector go...|[{2, Public secto...|      2,2,2|      PE|            IBRD/IDA|              L|{The objective of...|MA Accountability...|[{30-SEP-2013, PG...|                IBRD|              Active|Middle East and N...|[{General public ...|{General public a...|{Central governme...|{Public administr...|                NULL|[{BZ, General pub...|      BM,BC,BZ|  IBRD|Active|                   N|{Other accountabi...|[{29, Other accou...|      27,30,29|200000000|   200000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-25T00:00:00Z|GOVERNMENT OF SOU...|                NULL|Republic of South...|         SS|Republic of South...|       South Sudan|Project Paper,Pro...|                       B| 7530000|          0|P145339|         0|MINISTRY OF AGRIC...|Specific Investme...|              IN|        7530000|[{Agriculture, fi...|[{AX, Agriculture...| [Rural development]|[{10, Rural devel...|       10,2|      RE|Recipient Execute...|              L|{The development ...|Southern Sudan Em...|[{01-OCT-2013, PJ...|               OTHER|              Active|              Africa|[{Crops}, {Other ...|         {Crops, 50}|{Other social ser...|{General agricult...|                NULL|[{AH, Crops}, {JB...|      AZ,JB,AH|  IBRD|Active|                   Y|{Global food cris...|[{91, Global food...|            91|        0|     7530000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-25T00:00:00Z|                NULL|2017-12-31T00:00:00Z|Republic of India...|         IN|   Republic of India|             India|Project Appraisal...|                       B|       0|          0|P146653| 250000000|                NULL|Investment Projec...|              IN|      250000000|[{Transportation,...|[{TX, Transportat...|[Rural developmen...|[{10, Rural devel...|  10,6,6,11|      PE|            IBRD/IDA|              L|{The objective of...|Uttarakhand Disas...|[{11-OCT-2013, PA...|                 IDA|              Active|          South Asia|[{Rural and Inter...|{Rural and Inter-...|{Flood protection...|{Housing construc...|{Other social ser...|[{TI, Rural and I...|   JB,YC,WD,TI|  IBRD|Active|                   N|{Rural services a...|[{78, Rural servi...|   81,87,52,78|250000000|   250000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-24T00:00:00Z| GOVERNMENT OF GHANA|2019-06-30T00:00:00Z|Republic of Ghana...|         GH|   Republic of Ghana|             Ghana|Project Appraisal...|                       C|       0|          0|P144140|  97000000|MINISTRY OF COMMU...|Specific Investme...|              IN|       97000000|[{Information and...|[{CX, Information...|                NULL|             [{4, }]|          4|      PE|            IBRD/IDA|              L|{The development ...| GH eTransform Ghana|[{26-SEP-2013, PA...|                 IDA|              Active|              Africa|[{General informa...|{General informat...|                NULL|                NULL|                NULL|[{CZ, General inf...|            CZ|  IBRD|Active|                   N|               {, 0}|                NULL|          NULL| 97000000|    97000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-22T00:00:00Z|GOVERNMENT OF TIM...|                NULL|Democratic Republ...|         TP|Democratic Republ...|       Timor-Leste|Integrated Safegu...|                       B|       0|   15000000|P130975|  25000000|MINISTRY OF INFRA...|Specific Investme...|              IN|       92000000|[{Transportation,...|[{TX, Transportat...|[Trade and integr...|[{5, Trade and in...|    5,11,10|      PE|            IBRD/IDA|              L|{The development ...|Timor Leste Road ...|[{11-SEP-2012, IS...|                IBRD|              Active|East Asia and Pac...|[{Rural and Inter...|{Rural and Inter-...|{Public administr...|                NULL|                NULL|[{TI, Rural and I...|         BV,TI|  IBRD|Active|                   Y|{Regional integra...|[{47, Regional in...|      78,81,47| 40000000|    40000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-22T00:00:00Z|GOVERNMENT OF JORDAN|                NULL|Hashemite Kingdom...|         JO|Hashemite Kingdom...|            Jordan|                NULL|                       C| 9500000|          0|P144832|         0|MINISTRY OF PLANN...|Technical Assista...|              IN|       10000000|[{Health and othe...|[{JX, Health and ...|[Social protectio...|[{6, Social prote...|      6,6,6|      RE|Recipient Execute...|              L|                NULL|NATIONAL UNIFIED ...|                NULL|               OTHER|              Active|Middle East and N...|[{Other social se...|{Other social ser...|                NULL|                NULL|                NULL|[{JB, Other socia...|            JB|  IBRD|Active|                   N|{Social safety ne...|[{54, Social safe...|      53,56,54|        0|     9500000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-17T00:00:00Z| MINISTRY OF FINANCE|2019-04-30T00:00:00Z|          Samoa!$!WS|         WS|               Samoa|             Samoa|Environmental Ass...|                       B|       0|          0|P145545|  20000000|LAND TRANSPORT AU...|Investment Projec...|              IN|       20000000|[{Transportation,...|[{TX, Transportat...|[Rural developmen...|[{10, Rural devel...|    10,11,5|      PE|            IBRD/IDA|              L|{The development ...|Enhanced Road Acc...|[{21-AUG-2013, EA...|                 IDA|              Active|East Asia and Pac...|[{Rural and Inter...|{Rural and Inter-...|                NULL|                NULL|                NULL|[{TI, Rural and I...|            TI|  IBRD|Active|                   N|{Rural services a...|[{78, Rural servi...|      49,81,78| 20000000|    20000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-17T00:00:00Z| MINISTRY OF FINANCE|2015-12-31T00:00:00Z|          Samoa!$!WS|         WS|               Samoa|             Samoa|Project Appraisal...|                       B|       0|          0|P145938|   5000000|MINISTRY OF AGRIC...|Investment Projec...|              IN|        5000000|[{Agriculture, fi...|[{AX, Agriculture...| [Rural development]|[{10, Rural devel...|       10,2|      PE|            IBRD/IDA|              L|{The development ...|Samoa Agriculture...|[{19-SEP-2013, PA...|                 IDA|              Active|East Asia and Pac...|[{Crops}, {Animal...|         {Crops, 50}|{Animal productio...|{General agricult...|                NULL|[{AH, Crops}, {AJ...|      AZ,AJ,AH|  IBRD|Active|                   N|{Other rural deve...|[{79, Other rural...|            79|  5000000|     5000000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-16T00:00:00Z|MINISTRY OF FINAN...|                NULL|Republic of Madag...|         MG|Republic of Madag...|        Madagascar|Integrated Safegu...|                       B|85400000|          0|P132616|         0|MINISTRY OF EDUCA...|Emergency Recover...|              IN|       85400000|  [{Education, 100}]|   [{EX, Education}]| [Human development]|[{8, Human develo...|        8,7|      RE|Recipient Execute...|              L|                NULL|Emergency Support...|[{21-SEP-2013, IS...|               OTHER|              Active|              Africa|[{Primary educati...|{Primary educatio...|                NULL|                NULL|                NULL|[{EP, Primary edu...|            EP|  IBRD|Active|                   N|{Education for al...|[{65, Education f...|            65|        0|    85400000|http://www.worldb...|
|{52b213b38594d8a2...|      2014|             October|2013-10-16T00:00:00Z|ROYAL GOVERNMENT ...|                NULL|Kingdom of Cambod...|         KH| Kingdom of Cambodia|          Cambodia|Project Informati...|                       B|13450000|          0|P146271|         0|  MINISTRY OF HEALTH|Investment Projec...|              IN|       13450000|[{Health and othe...|[{JX, Health and ...|[Human developmen...|[{8, Human develo...|  8,8,2,7,8|      RE|Recipient Execute...|              L|                NULL|Additional Financ...|[{14-OCT-2013, PI...|               OTHER|              Active|East Asia and Pac...|[{Health}, {Centr...|        {Health, 44}|{Central governme...|{Sub-national gov...|{Other social ser...|[{JA, Health}, {B...|BK,JB,BH,BC,JA|  IBRD|Active|                   Y|  {Child health, 17}|[{63, Child healt...|69,57,25,67,63|        0|    13450000|http://www.worldb...|

In [12]:
df_sigh = sqlContext.read.format("com.databricks.spark.csv").option("header", "true").option("inferSchema", "true").load(file_name)

In [15]:
df.printSchema()

root
 |-- _id: struct (nullable = true)
 |    |-- $oid: string (nullable = true)
 |-- approvalfy: string (nullable = true)
 |-- board_approval_month: string (nullable = true)
 |-- boardapprovaldate: string (nullable = true)
 |-- borrower: string (nullable = true)
 |-- closingdate: string (nullable = true)
 |-- country_namecode: string (nullable = true)
 |-- countrycode: string (nullable = true)
 |-- countryname: string (nullable = true)
 |-- countryshortname: string (nullable = true)
 |-- docty: string (nullable = true)
 |-- envassesmentcategorycode: string (nullable = true)
 |-- grantamt: long (nullable = true)
 |-- ibrdcommamt: long (nullable = true)
 |-- id: string (nullable = true)
 |-- idacommamt: long (nullable = true)
 |-- impagency: string (nullable = true)
 |-- lendinginstr: string (nullable = true)
 |-- lendinginstrtype: string (nullable = true)
 |-- lendprojectcost: long (nullable = true)
 |-- majorsector_percent: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Name: string (nullable = true)
 |    |    |-- Percent: long (nullable = true)
 |-- mjsector_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- mjtheme: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- mjtheme_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- mjthemecode: string (nullable = true)
 |-- prodline: string (nullable = true)
 |-- prodlinetext: string (nullable = true)
 |-- productlinetype: string (nullable = true)
 |-- project_abstract: struct (nullable = true)
 |    |-- cdata: string (nullable = true)
 |-- project_name: string (nullable = true)
 |-- projectdocs: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- DocDate: string (nullable = true)
 |    |    |-- DocType: string (nullable = true)
 |    |    |-- DocTypeDesc: string (nullable = true)
 |    |    |-- DocURL: string (nullable = true)
 |    |    |-- EntityID: string (nullable = true)
 |-- projectfinancialtype: string (nullable = true)
 |-- projectstatusdisplay: string (nullable = true)
 |-- regionname: string (nullable = true)
 |-- sector: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Name: string (nullable = true)
 |-- sector1: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector2: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector3: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector4: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- sector_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- sectorcode: string (nullable = true)
 |-- source: string (nullable = true)
 |-- status: string (nullable = true)
 |-- supplementprojectflg: string (nullable = true)
 |-- theme1: struct (nullable = true)
 |    |-- Name: string (nullable = true)
 |    |-- Percent: long (nullable = true)
 |-- theme_namecode: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- code: string (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- themecode: string (nullable = true)
 |-- totalamt: long (nullable = true)
 |-- totalcommamt: long (nullable = true)
 |-- url: string (nullable = true)

In [14]:
df.registerTempTable("world_bank")

/home/hadoop/spark-3.5.1-bin-hadoop3/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [18]:
df_wb = sqlContext.sql("select _id, board_approval_month, boardapprovaldate from world_bank")

In [19]:
df_wb.show()

+--------------------+--------------------+--------------------+
|                 _id|board_approval_month|   boardapprovaldate|
+--------------------+--------------------+--------------------+
|{52b213b38594d8a2...|            November|2013-11-12T00:00:00Z|
|{52b213b38594d8a2...|            November|2013-11-04T00:00:00Z|
|{52b213b38594d8a2...|            November|2013-11-01T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-31T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-31T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-31T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-29T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-29T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-29T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-29T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-25T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-25T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-24T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-22T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-22T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-17T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-17T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-16T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-16T00:00:00Z|
|{52b213b38594d8a2...|             October|2013-10-10T00:00:00Z|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [21]:
df.toPandas()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,"(52b213b38594d8a2be17c780,)",1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"(Education for all, 100)","[(65, Education for all)]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,"(52b213b38594d8a2be17c781,)",2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,None,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"(Other economic management, 30)","[(24, Other economic management), (54, Social ...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,"(52b213b38594d8a2be17c782,)",2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,None,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"(Regional integration, 46)","[(47, Regional integration), (25, Administrati...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,"(52b213b38594d8a2be17c783,)",2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,None,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"(Participation and civic engagement, 50)","[(57, Participation and civic engagement), (59...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,"(52b213b38594d8a2be17c784,)",2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"(Export development and competitiveness, 30)","[(45, Export development and competitiveness),...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,"(52b213b38594d8a2be17c96f,)",2013,August,2012-08-10T00:00:00Z,THE COMPETITIVENESS COMPANY,2013-08-31T00:00:00Z,Jamaica!$!JM,JM,Jamaica,Jamaica,...,"EV,AZ",IBRD,Closed,N,"(Regulation and competition policy, 50)","[(40, Regulation and competition policy), (62,...","62,40",0,50000,http://www.worldbank.org/projects/P127299/tech...
496,"(52b213b38594d8a2be17c970,)",2013,August,2012-08-09T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2012-12-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,"YZ,JA,EZ,FZ,BC",IBRD,Closed,N,"(Child health, 14)","[(63, Child health), (49, Trade facilitation a...","65,27,49,63",20000000,20000000,http://www.worldbank.org/projects/P125298/lao-...
497,"(52b213b38594d8a2be17c971,)",2013,August,2012-08-03T00:00:00Z,GOVERNMENT OF THE REPUBLIC OF GUINEA,2014-12-31T00:00:00Z,Republic of Guinea!$!GN,GN,Republic of Guinea,Guinea,...,"AB,AH,AI",IBRD,Active,N,"(Global food crisis response, 100)","[(91, Global food crisis response)]",91,0,20000000,http://www.worldbank.org/projects/P128309/seco...
498,"(52b213b38594d8a2be17c972,)",2013,August,2012-08-02T00:00:00Z,REPUBLIC OF INDONESIA,2017-09-30T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,"YA,BL,AB",IBRD,Active,N,"(Rural services and infrastructure, 85)","[(78, Rural services and infrastructure), (91,...","77,91,78",80000000,80000000,http://www.worldbank.org/projects/P117243/sust...
499,"(52b213b38594d8a2be17c973,)",2013,August,2012-08-02T00:00:00Z,GOVERMENT OF KENYA,2018-12-31T00:00:00Z,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,"BV,TC",IBRD,Active,N,(Municipal governance and institution building...,"[(73, Municipal governance and institution bui...","39,49,88,73",300000000,300000000,http://www.worldbank.org/projects/P126321/keny...

In [22]:
import pandas as pd
df_wb.toPandas()

                             _id board_approval_month     boardapprovaldate
0    (52b213b38594d8a2be17c780,)             November  2013-11-12T00:00:00Z
1    (52b213b38594d8a2be17c781,)             November  2013-11-04T00:00:00Z
2    (52b213b38594d8a2be17c782,)             November  2013-11-01T00:00:00Z
3    (52b213b38594d8a2be17c783,)              October  2013-10-31T00:00:00Z
4    (52b213b38594d8a2be17c784,)              October  2013-10-31T00:00:00Z
..                           ...                  ...                   ...
495  (52b213b38594d8a2be17c96f,)               August  2012-08-10T00:00:00Z
496  (52b213b38594d8a2be17c970,)               August  2012-08-09T00:00:00Z
497  (52b213b38594d8a2be17c971,)               August  2012-08-03T00:00:00Z
498  (52b213b38594d8a2be17c972,)               August  2012-08-02T00:00:00Z
499  (52b213b38594d8a2be17c973,)               August  2012-08-02T00:00:00Z

[500 rows x 3 columns]

In [23]:
query = """
select regionname, count(*) as count
from world_bank
group by regionname
order by count(*) desc
"""

In [24]:
sqlContext.sql(query).toPandas()

                     regionname  count
0                        Africa    152
1         East Asia and Pacific    100
2       Europe and Central Asia     74
3                    South Asia     65
4  Middle East and North Africa     54
5   Latin America and Caribbean     53
6                         Other      2

In [25]:
data_list = [[1, 9, 11], [2, 9, 11], [3, 7, 5], [4, 3, 1], [5, 8, 10]]
rdd_data = sc.parallelize(data_list)
rdd_data.collect()

[[1, 9, 11], [2, 9, 11], [3, 7, 5], [4, 3, 1], [5, 8, 10]]

In [26]:
from pyspark.sql.types import *

In [34]:
sche_string = "ID V1 V2"
fields = [StructField(field_name, StringType(), True) for field_name in sche_string.split()]
schema = StructType(fields)

In [35]:
sche_df = sqlContext.createDataFrame(rdd_data, schema)

In [37]:
sche_df.show()

+---+---+---+
| ID| V1| V2|
+---+---+---+
|  1|  9| 11|
|  2|  9| 11|
|  3|  7|  5|
|  4|  3|  1|
|  5|  8| 10|
+---+---+---+

In [38]:
from pyspark.sql import Row

In [40]:
rdd_data_m = rdd_data.map(lambda x: Row(id=x[0], name=x[1], gender=x[2]))
rdd_data_m.collect()

[Row(id=1, name=9, gender=11),
 Row(id=2, name=9, gender=11),
 Row(id=3, name=7, gender=5),
 Row(id=4, name=3, gender=1),
 Row(id=5, name=8, gender=10)]

In [41]:
rdd_data_m.toDF().show()

+---+----+------+
| id|name|gender|
+---+----+------+
|  1|   9|    11|
|  2|   9|    11|
|  3|   7|     5|
|  4|   3|     1|
|  5|   8|    10|
+---+----+------+

In [43]:
def process_to_RDD(line):
    return line.split(",")

def process_to_DF(line):
    return Row(id = int(line[0]), name=line[1], age=int(line[2]), num_friend = int(line[3]))

In [44]:
rdd = sc.textFile("user_info.csv").map(process_to_RDD)
rdd.collect()

[['0', 'Alex', '30', '123'],
 ['1', 'Bert', '32', '234'],
 ['2', 'Curt', '28', '312'],
 ['3', 'Don', '32', '89']]

In [46]:
rows = rdd.map(process_to_DF)
rows.collect()

[Row(id=0, name='Alex', age=30, num_friend=123),
 Row(id=1, name='Bert', age=32, num_friend=234),
 Row(id=2, name='Curt', age=28, num_friend=312),
 Row(id=3, name='Don', age=32, num_friend=89)]

In [47]:
df = sqlContext.createDataFrame(rows)
df.show()

+---+----+---+----------+
| id|name|age|num_friend|
+---+----+---+----------+
|  0|Alex| 30|       123|
|  1|Bert| 32|       234|
|  2|Curt| 28|       312|
|  3| Don| 32|        89|
+---+----+---+----------+

In [54]:
filter = df.select(df.id, df.age).filter(df.age > 30)
filter.groupBy('age').agg({'age': 'max', 'id': 'max'}).show()

+---+-------+--------+
|age|max(id)|max(age)|
+---+-------+--------+
| 32|      3|      32|
+---+-------+--------+

In [55]:
df.registerTempTable("user")
res = sqlContext.sql("select * from user where age > 30")

/home/hadoop/spark-3.5.1-bin-hadoop3/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [56]:
res.show()

+---+----+---+----------+
| id|name|age|num_friend|
+---+----+---+----------+
|  1|Bert| 32|       234|
|  3| Don| 32|        89|
+---+----+---+----------+